.booksList {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 0.5fr));
    grid-auto-columns: 1fr;
    column-gap: 20px;
    row-gap: 60px;
    margin-top: 70px;

    @media (max-width: 1200px) {
        column-gap: 50px;
        grid-template-columns: repeat(3, minmax(200px, 0.5fr));
    }

    @media (max-width: 992px) {
        row-gap: 50px;
        grid-template-columns: repeat(2, minmax(200px, 0.5fr));
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
        margin-top: 50px;
        row-gap: 25px;
    }
}