.header {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;

    .title {
        display: flex;
        align-items: center;
        gap: 8px;

        &::before {
            content: url(../../assets/img/book-icon.svg);
            width: 35px;
            height: 35px;
        }
    }
}