.paginationButton {
    background-color: #6ca7de;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    transition: opacity .2s ease-in;

    &:hover {
        opacity: .8;
    }
}