.bookCard {
    display: flex;
    flex-direction: column;

    font-size: 13px;
    transition: transform .4s ease-in-out;

    &:hover {
        transform: scale(0.9);
    }

    img {
        align-self: center;
        max-width: 150px;
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }

    &__category {
        text-decoration: underline;
        color: rgb(148, 148, 148);
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 4px;
        font-size: 16px;

        @media (max-width: 576px) {
            text-align: center;
        }
    }

    &__author {
        line-height: 19px;
        color: rgb(148, 148, 148);
    }

    @media (max-width: 576px) {
        padding: 30px 10px;
        align-items: center;
        border: 1px solid #000;
        border-radius: 10px;
    }
}