.sort {
    position: relative;
    font-size: 14px;
    grid-row: 2/3;

    .label {
        display: flex;
    }

    svg {
        width: 20px;
        height: 20px;
        transform: translateY(7px);

        &.rotated {
            transform: rotate(180deg) translateY(2px);
        }
    }

    b {
        margin-right: 10px;
    }

    span {
        color: #4079ff;
        text-decoration: underline;
        cursor: pointer;
    }

    .popup {
        position: absolute;
        right: 0;
        top: 35px;
        background-color: #fff;
        box-shadow: 0 0 0 1px #d8d8d8;
        border-radius: 8px;
        z-index: 10;


        li {
            padding: 8px 14px;
            cursor: pointer;
            transition: background-color .1s ease-in;

            &:hover:not(.active) {
                background-color: #d6e1fa;
            }
        }

        li:first-child {
            border-radius: 8px 8px 0 0;
        }

        li:last-child {
            border-radius: 0 0 8px 8px;
        }

        .active {
            background-color: #bdd1ff;
            color: #164ccb;
        }
    }

    @media (max-width: 576px) {
        font-size: 12px;
    }
}